@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h3>Thank You</h3>
        <br />
        <img src="~/img/confirm.png" width="70%" />
        <hr />
    </div>
    <div class="col-12 text-center">
        <br />
        <h2>Your Order With Number: @Model Has Been Palced Successfully</h2>
    </div>
</div>