@model Category

@{
    ViewBag.PageTitle = "Category Managment";
    ViewBag.CardTitle = "Create Category";
}



<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Create" asp-controller="Category">
            <div class="form-group">
                <label asp-for="Name"class="control-label"></label>
                <input asp-for="Name" class="form form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" id="mytextarea" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br /><input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Category">Back To Index</a>
</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
   @*  <script>
        tinymce.init({
            selector: '#mytextarea',
            //license_key: 'gpl|<u3cycx83iif2umz5x1qlv3p31qlwz9fiu0uuavotlkme33wx>'
            //license_key: 'u3cycx83iif2umz5x1qlv3p31qlwz9fiu0uuavotlkme33wx'
            license_key: 'gpl'
        });
    </script> *@
}